@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
}

/* these are the base style variables for the template*/
:root {
    --head-font-size: 70px;
    --head-font-weight: bold;
    --small-head-size: 35px;
    --body-font-regular: 22px;
    --georgia-22: 16px;
    --base-color: #BE3948;
    --dark-base: #262829;
    --primary-color: #FFFFFF;
}

.titles {
    font-family: 'Raleway', sans-serif;
    font-size: var(--small-head-size);
    font-weight: bold;
}

/* .btn {
    font-family: 'Raleway', sans-serif;
    font-size: var(--georgia-22);
    font-weight: bold;
} */

/* utilities */

/* hero section starts here */
.nav-brand img  {
    width: 101px;
}

.nav-brand {
    margin-top: -2%;
}



nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li a {
    color: var(--dark-base);
    font-size: var(--georgia-22);
    font-weight: var(--head-font-weight);
    text-transform: uppercase;
}

nav ul li a:hover {
    color: var(--base-color);
    transition: all .3s ease-in;
    cursor: pointer;
}

nav ul li a:active {
    color: var(--base-color);
}

nav span {
    display: none;
}

.hero-intro p  {
    font-size: var(--head-font-size);
    color: var(--dark-base);
    font-weight: 900;
    line-height: 110px;
}

.artist p {
    word-spacing: 20px;
}

.hero-intro span, .stroke {
    -webkit-text-fill-color: var(--primary-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--dark-base);
}

.about-intro p {
    text-transform: uppercase;
    -webkit-text-fill-color: rgb(221, 231, 235);
    -webkit-text-stroke-width: .6px;
    -webkit-text-stroke-color: var(--dark-base);
}

.art-details p {
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    margin-top: -35px;
}

.artist {
    margin-top: 11%;
}

.mural-paint img {
    width: 692px;
    height: 650px; 
    margin-top: -14%;
}

.hire-btn {
    width: 191px;
    height: 50px;
    border-radius: 5px;
    background: var(--base-color);
    color: var(--primary-color);
    font-weight: bolder;   
}

.hire-btn:hover,
.read-btn:hover {
    color: var(--primary-color);
    background: var(--dark-base);
    transition: .3s all ease-in;
}

.socials {
    margin-top: -10%;
}

.fab, 
.fa {
    font-size: 30px;
}

.fa-arrow-right {
    font-size: 20px;
    font-weight: 3px;
}

.fas {
    font-size: 26px;
    margin-top: 74%;
}

.fa:hover, 
.fab:hover {
    color: var(--base-color);
    cursor: pointer;
    transition: all .3s ease-in;
}

.divider {
    margin-top: -3%;
}
/* hero section ends here */

/* works section starts here */
.works-intro p,
.about-intro p {
    font-size: var(--head-font-size);
    font-weight: 900;   
}

.project-details .project-title {
    text-transform: uppercase;
    font-size: var(--body-font-regular);
    font-weight: bold;
    font-style: normal;
    margin-left: 6px;
}

.read-btn {
    width: 150px;
    border: 1px solid var(--base-color);
    color: var(--base-color);
    font-weight: bold;
    font-style: normal;
}

.project-info {
    margin-top: -15%;
    font-family: 'Raleway', sans-serif;
}

.img-left {
    margin-left: -7px;
}

.img-top-left {
    margin-left: -7px;
}

.more {
    font-size: 16px;
    font-weight: bold;
    color: var(--base-color);
}

.see-more {
    margin-top: 8%;
    margin-bottom: 5%;
}
/* work section ends here */

/* about section starts here */
#about {
    background-image: url(../assets/branch.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-bottom: 8%;
}

.about-intro {
    margin-top: -68px;
}

.about {
    margin-left: 45px;
}

.about-sm {
    margin-top: -22px;
    margin-left: 4px; 
}

.about-info {
    width: 420px;
    margin-top: -25px;
    font-family: 'Raleway', sans-serif;
}

/* about section ends here */

/* feedback section */
#feedback {
    padding-bottom: 4%;
}
.feedback-intro p {
    font-size: var(--head-font-size);
    font-weight: bold;
    text-transform: uppercase;
} 

.client-feedback {
    font-family: 'Raleway', sans-serif;
    width: 500px;
    font-size: 15px;
}

.client-name {
    margin-left: -130px;
    margin-top: 60px;
}

.client-image {
    margin-left: 80px;
}

.fal {
    font-size: 30px;
    margin-top: 80%;
}

/* feedback section ends here */

/* contact section starts here */
.contact-intro p {
    font-size: var(--head-font-size);
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -23px;
} 

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.form-group input {
    width: 350px;
    height: 50px;
    border-radius: 4px;
    outline: none;
}

.form-group textarea {
    width: 350px;
    height: 320px;
}